@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=VT323&display=swap');


body{
    background-color: black;
    font-family: "VT323", monospace;
}

.header{
    border: 5px blue solid;
    padding: 10px;
    padding-left: 20px;

    font-family: "VT323", monospace;
    color: #0aa3ff;
}

.DallasInfo{
    display: flex;
    color: #0aa3ff;
    padding: 1%;
}

p{
    padding: 10px;
    border: 2px #0aa3ff solid;
}

.DallasLeft{
    text-align: center;
    width: 50%;
    list-style-type: none;
}

.DallasTables{
    display: flex;
    text-align: center;
}

.DallasTables table{
    margin: 10px;
    border: 1px #0aa3ff solid;
}

.DallasTables td{
    border: 1px #0aa3ff solid;
}

.DallasLists{
    display: flex;
    text-align: center;
}

.listLeft{
    width: 50%;
}

.DallasRight{
    width: 50%;
    text-align: center;
}

.DallasRight img{
    width: 500px;
}

