@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=VT323&display=swap');


body{
    /* background-color: black; */
    background-image: url("/media/images/background_PD2.png");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "VT323", monospace;

    margin: 0;
    padding: 0;
}

.DallasInfo{
    margin-top: 5%;
    margin-bottom: auto;

    display: flex;
    color: #0aa3ff;
    justify-content: center;
}

p{
    padding: 10px;
    border: 2px #0aa3ff solid;
    background-color: black;
}

.DallasLeft{
    display: flex;
    flex-direction: column;

    list-style-type: none;
    text-align: center;

    margin: 2%;
    width: 50%;
    
}

.DallasTables{
    display: flex;
    text-align: center;
}

.DallasTables table{
    margin: 10px;
    border: 1px #0aa3ff solid;
    background-color: black;
}

.DallasTables td{
    border: 1px #0aa3ff solid;
}

.DallasLists{
    border: 2px #0aa3ff solid;
    background-color: black;
    display: flex;

    text-align: center;
}

.listLeft{
    border: 1px #0aa3ff solid;
    width: 50%;
    margin-right: auto;
}

.listRight{
    border: 1px #0aa3ff solid;
    width: 50%;
    margin-right: auto;
}

.DallasLists ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.DallasRight{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    text-align: center;
    margin: 2%;
    width: 50%;
}

.DallasImg{
    border: 1px #0aa3ff solid;
    background-color: black;

    margin-left: auto;
    margin-right: auto;

    min-width: fit-content;
    max-width: 75%;
}

.DallasImg img{
    width: 500px;
}

